@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1{
        font-family: 'SEGA LOGO FONT';
    }
    .body{
        margin: 0;
        padding: 0;
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(9,9,121,1) 50%, rgba(37,71,84,1) 100%, rgba(0,212,255,1) 100%);
    }